#titreAccueil {
    font-family: "Sanvito Pro Display" , serif ;
    font-size: 3.5rem;
    color: aliceblue ;

}
#sectionAccueil{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}