.imgbutton {
  height: 10em;
  width: 10em;
}

button {
  height: 10em;
  width: 8em;
  opacity: 0.4;
  background: #74EE15;
  border: 0;
}

button:hover {
  opacity: 1;
}

.bouttonDroit {
  border-radius: 25px 0px 0px 25px;
  position: absolute;
  top: 45%;
  right: 0%;
  padding: 3px;
}

.bouttonGauche {
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  top: 45%;
  left: 0;
  padding: 3px;
}

.bouttonGauche img {
  rotate: 180deg;
}

.imgbutton {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  button {
    display: none
  }
}

@media screen and (max-height: 400px) {
  button {
    display: none
  }
}