.imgbutton {
  height: 10em;
  width: 10em;
}

.buttonNav {
  height: 10em;
  width: 8em;
  opacity: 0.4;
  background: #74EE15;
  border: 0;
}

.buttonNav:hover {
  opacity: 1;
}

.bouttonDroit {
  border-radius: 25px 0px 0px 25px;
  position: fixed;
  top: 45%;
  right: -85px;
  padding: 3px;
}
.bouttonDroit:hover{
  right: 0;
}

.bouttonGauche {
  border-radius: 0px 25px 25px 0px;
  position:fixed;
  top: 45%;
  left: -85px;
  padding: 3px;
}
.bouttonGauche:hover{
  left: 0;
}
.buttonOnMouse {
  transform: none;
}

.bouttonGauche img {
  rotate: 180deg;
}

.imgbutton {
  width: 70%;
  height: 70%;
}


@media screen and (max-width: 768px) {
  .buttonNav {
    display: none
  }
}

@media screen and (max-height: 400px) {
  .buttonNav {
    display: none
  }
}