
/* .mesoeuvres {
    margin-top: 100px;
} */
.sectionProjet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px ,1fr)) ;
    gap: 45px;
    /* margin: 4em; */
    align-items: center;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 0px solid;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* box-shadow: 4px 4px 4px rgba(255,255,255,0.7); */
    background-color: white;
    color: black;
}

.card:nth-child(even) {
    box-shadow: 4px 4px 4px #f000ff;
}
.card:nth-child(odd) {
    box-shadow: 4px 4px 4px #74ee15;
}
.card:nth-child(even):hover {
    box-shadow: 6px 6px 2px #f000ff;
}
.card:nth-child(odd):hover {
    box-shadow: 6px 6px 2px #74ee15;
}
.cardimg {
    height: 180px;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 6px 6px 0 0 ;  
}

.card h4 , .card p {
    margin: 4px;
}

/* .card:hover{
    box-shadow: 6px 6px rgba(255,255,255,0.6)
} */
