header {
  min-height: 10vh;
  width: 100%;
  background-color: #011936;
  height: 50px;
  position: fixed;
  font-size: 20px;
}

body {
  height: 100vh;
  background-color: #011936;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  font-size: 1rem;
  font-family: 'Roboto' sans-serif;
}

main {
  width: 100%;
  padding-top: 10vh;
 padding-bottom: 20px;
}

section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.marge {
  padding-left: 150px;
}

h2 {
  font-size: 1.7rem;
}

p{
  line-height: 1.7;
}